  <%-include("partials/header")%>
  <div style="text-align: center; margin-top: 10rem; ">

<h1>Welcome To The Weather App</h1>
 
<a href="/weather" class="btn btn-light btn-outline-primary">Check Weather</a>
</div>

  <%-include("partials/footer")%>